@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .price {
    @apply text-6xl font-bold;
  }

  .btn {
    @apply tracking-widest;
  }
}

@layer components {
  .card {
    @apply bg-white rounded-lg mb-4 lg:mb-0 text-center p-8 text-[#494c5f] drop-shadow-xl mx-auto lg:mx-0 lg:w-full;
  }

  .bg-page {
    background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
    height: 100vh;
    background-position: top -2rem right, bottom left;
  }

  .bg-primary {
    @apply bg-gradient-to-r from-blue-primary to-violet-primary rounded-lg text-center;
  }

  .btn {
    @apply w-full h-12 p-2  rounded-md bg-blue-900;
  }

  @media (max-width: 1024px) {
    .card {
      max-width: 327px;
      max-height: 453px;
    }
  }
}
