@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .price {
    @apply text-7xl font-bold;
  }
  .btn {
    @apply tracking-widest text-base;
  }
  .dollar {
    @apply text-4xl pr-2;
  }
  .attribution {
    @apply text-center text-transparent hover:text-black text-xs  w-auto mx-auto;
  }
}

@layer components {
  .card {
    @apply bg-white rounded-lg mb-4 lg:mb-0 text-lg text-center p-8 text-[#494c5f] drop-shadow-xl mx-auto lg:mx-0 lg:w-full;
  }

  .bg-page {
    background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
    height: 100vh;
    background-position: top right, bottom left;
  }

  .bg-primary {
    @apply bg-gradient-to-r from-blue-primary to-violet-primary rounded-lg text-center;
  }

  .btn {
    @apply w-full h-12 p-2  rounded-md;
  }
}
